body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #de6e9b, #eab2b2);
}

/* Fireworks canvas */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Title */
.title {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    margin-top: 80px;
    color: #772086;
}

/* Animation */
.animation {
    font-size: 30px;
    animation: float 3s infinite alternate;
}

@keyframes float {
    from { transform: translateY(0); }
    to { transform: translateY(-15px); }
}

/* Photo */
.photo-box img {
    width: 70%;
    max-width: 330px;
    border-radius: 20px;
    margin-top: 20px;
}

/* Text */
.animated-text {
    font-size:30px;
    font-weight: bold;
    color: #772086;
    animation: glow 2s infinite alternate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes glow {
    from { opacity: 0.6; }
    to { opacity: 1; }
}

/* Message */
.message {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    font-size: 17px;
    line-height: 1.7;
    font-family: 'Times New Roman', Times, serif;
}

/* Buttons */
.btn {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background: #ff4d88;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    background: #ff1a66;
}

/* Question */
.question {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

/* MEMORY PAGE */
.memory-title {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin: 20px;
    color: #9c1840;
}

/* Cards */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card {
    width: 90%;
    max-width: 220px;
    margin: 10px;
    background: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-right: 60px;
}
 


.card img {
    width: 100%;
    border-radius: 10px;
}

.caption {
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

/* Footer */
.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 30px;
    color: #b01549;
    margin-top: 50px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
    .title {
        font-size: 35px;
    }

    .animated-text {
        font-size: 18px;
    }

    .message {
        font-size: 14px;
    }
}